<div class="fixed top-0 w-full z-50 @COLOR.BG">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 ">
        <nav class="relative flex items-center justify-between sm:h-10 md:justify-center" aria-label="Global">
            <div class="flex items-center flex-1 md:absolute md:inset-y-0 md:left-0">
                <div class="flex items-center justify-between w-full md:w-auto">
                    <a class="@COLOR.HTXT @COLOR.TXT font-bold" href="#">
                        <span class="sr-only">Workflow</span>
                        S.PARK
                    </a>
                    <div class="-mr-2 flex items-center md:hidden">
                        <button @onclick="HandleMenu_Click"
                                type="button" class="@COLOR.BG rounded-md p-2 inline-flex items-center justify-center text-gray-400 @COLOR.HEADERTEXT focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
                            <span class="sr-only">Open main menu</span>
                            <!-- Heroicon name: outline/menu -->
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="hidden md:flex md:space-x-10">
                <a href="#about" class="text-sm font-semibold @COLOR.NTXT">About</a>

                <a href="#project" class="text-sm font-semibold @COLOR.NTXT">Project</a>

                <a href="#experience" class="text-sm font-semibold @COLOR.NTXT">Experience</a>

                <a href="#contact" class="text-sm font-semibold @COLOR.NTXT">Contact</a>
            </div>
            <!-- This example requires Tailwind CSS v2.0+ -->
            <!-- Enabled: "bg-indigo-600", Not Enabled: "bg-gray-200" -->

            <div class="hidden md:absolute md:flex md:items-center md:justify-end md:inset-y-0 md:right-0">
                <button type="button" class="bg-gray-200 relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" role="switch" aria-checked="false">
                    <span class="sr-only">Use setting</span>
                    <!-- Enabled: "translate-x-5", Not Enabled: "translate-x-0" -->
                    <span aria-hidden="true" class="translate-x-0 pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200"></span>
                </button>
            </div>
        </nav>
    </div>

    <div class=" @(CollapsedMenu == true ? "animate-openmenu" : "animate-closemenu") z-50 absolute top-0 inset-x-0 transition transform origin-top-right md:hidden">
        <div class="@COLOR.BG overflow-hidden h-screen">
            <div class="px-5 pt-4 flex items-center justify-between">
                <a class="@COLOR.HTXT @COLOR.TXT font-bold" href="#">
                    S.PARK
                </a>
                <div class="-mr-2">
                    <button @onclick="HandleMenu_Click" type="button" class="@COLOR.BG rounded-md p-2 inline-flex items-center justify-center text-gray-400">
                        <span class="sr-only">Close menu</span>
                        <!-- Heroicon name: outline/x -->
                        <svg class="h-6 w-6 hover:text-green-100 transition-all transform  hover:rotate-90 duration-1000" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="px-2 pt-2 pb-3 flex flex-col justify-center items-center h-full">
                <a href="#" class="capitalize block px-3 py-2 rounded-md text-3xl font-medium @COLOR.BG @COLOR.NTXT">ABOUT</a>

                <a href="#" class="capitalize block px-3 py-2 rounded-md text-3xl font-medium @COLOR.BG @COLOR.NTXT">PROJECT</a>

                <a href="#" class="capitalize block px-3 py-2 rounded-md text-3xl font-medium @COLOR.BG @COLOR.NTXT">EXPERIENCE</a>

                <a href="#" class="capitalize block px-3 py-2 rounded-md text-3xl font-medium @COLOR.BG @COLOR.NTXT">CONTACT</a>
            </div>
        </div>
    </div>
</div>

@code{

    [CascadingParameter(Name = "ColorMode")]
    public ColorMode COLOR { get; set; }

    private bool CollapsedMenu { get; set; } = false;

    private void HandleMenu_Click()
    {
        CollapsedMenu = !CollapsedMenu;
    }

}